// page transitions
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease;
	position: absolute;
}
.fade-leave-to,
.fade-enter-from {
	opacity: 0;
	position: absolute;
}

.slide-right-enter-active,
.slide-right-leave-active {
	transition: all 0.5s ease;
	// position: absolute;
}
.slide-right-enter-from,
.slide-right-leave-to {
	transform: translateX(30px);
	opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
	transition: all 0.3s ease;
	position: absolute;
}
.slide-left-enter-from,
.slide-left-leave-to {
	transform: translateX(-30px);
	opacity: 0;
}

.slide-top-enter-active,
.slide-top-leave-active {
	transition: all 0.3s ease;
}
.slide-top-enter-from,
.slide-top-leave-to {
	position: absolute;
	transform: translateY(-30px);
	opacity: 0;
}
.slide-bottom-enter-active,
.slide-bottom-leave-active {
	transition: all 0.5s ease;
	position: absolute;
}
.slide-bottom-enter-from,
.slide-bottom-leave-to {
	transform: translateY(30px);
	opacity: 0;
}
